<header class="header">
	<strong>Gulp Setting</strong>
	<nav>
		{%- for navgation in gnb_data %}
		<a href="{{ navgation.href }}">{{ navgation.name }}</a>
		{%- endfor %}
	</nav>
</header>
<!-- // header -->